.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 1rem;

    &__title {
        font-family: $fontRubik;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.88;
        color: $generalColor;
        margin-top: 50px;
    }

    &__text {
        font-size: 1rem;
        line-height: 1.5;
        text-align: center;
        font-family: $fontOpen;
        padding: 5px;
    }

    &__caption {
        font-size: 0.75rem;
        padding-top: 10px;
    }

    &__caption--styled {
        color: $titleColor;
    }

    &__form {
        width: 100%;
        font-size: 1;
        display: flex;
        flex-direction: column;
        border: none;
    }
}

.field {
    margin-bottom: 1rem;
    &__label {
        font-family: $fontOpen;
        font-size: 14px;
        display: flex;
    }

    &__input {
        font-family: $fontOpen;
        font-size: 1rem;
        padding-left: 15px;
        width: 100%;
        height: 45px;
    }

    &__textarea {
        height: 105px;
        font-size: 1rem;
        padding-left: 15px;
        padding-top: 15px;
        margin-top:7px;
    }
}

.button {
    align-self: center;

    &__visible {
        height: 3rem;
        width: 10rem;
        background-color: $generalColor;
        border-radius: 20px;
        color: $basicColor;
        font-size: 1rem;
        font-weight: 600;
        font-family: $fontOpen;
        margin-top: 30px;
        margin-bottom: 45px;
        border: none;
        cursor: pointer;
    }
}

@media all and (min-width:768px) {
    .contact {
        &__title {
            font-size: 2rem;
        }

        &__text {
            width: 60%;
            font-size: 1.40rem;
        }

        &__form {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            width: 60%;
        }
    }
    .field {
        &__label {
            font-size: 1.2rem;
            margin-bottom: 10px;
        }
    }
    .button {
        &__visible {
            &:hover {
                transform: scale(1.05);
            }
        }
    }
}    
   
@media all and (min-width: 1200px){
    .contact {
        &__formFieldset {
            display: flex;
            justify-content: space-between;
            .field {
                width: 47%;
            }
        }
    }
    .field {
        margin-bottom: 20px;
    }
    .button__visible {
        width: 12rem;
    }
}