<section class="about-us" >
    <h2 class="about-us__title">QUIÉNES SOMOS</h2>
    <div class="team-member">
        <img class="team-member__photo team-member__photo--left" src="./assets/images/emeli.jpg" alt="emeli" title="Emeli Orbe">
        <div class="team-member__content team-member__content--left">
            <h4 class="team-member__contentName">Emeli Orbe</h4>
            <p class="team-member__contentText team-member__contentText--left">Estudié Filología Hispánica pero mi carrera profesional la he desarrollado en el mundo del Marketing y  los Eventos. A nivel profesional me gusta enfrentarme a nuevos retos porque implica crecer y dar lo mejor de mi misma. Soy creativa, ejecutora, resolutiva y con capacidad de liderazgo.</p>
            <div class="team-member__contentSocial">
                <a href="https://twitter.com/emilyttas" class="social-media-link" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a><span>·</span>
                <a href="https://www.linkedin.com/in/emeli-orbe/" class="social-media-link" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin-in"></i></a><span>·</span>
                <a href="https://github.com/Emeli28" class="social-media-link" target="_blank" rel="noopener noreferrer"><i class="fab fa-github-alt"></i></a><span>·</span>
                <a href="mailto:meli.orbe@gmail.com" class="social-media-link"><i class="fas fa-envelope"></i></a>
            </div>
        </div>
    </div>
    <div class="team-member">
        <img class="team-member__photo team-member__photo--right" src="./assets/images/marian.jpg" alt="marian" title="Marian González">
        <div class="team-member__content team-member__content--right">
            <h4 class="team-member__contentName">Marian González</h4>
            <p class="team-member__contentText team-member__contentText--right">Soy venezolana, estudié Comercio Exterior, sin embargo, me he desempeñado a nivel profesional como Ejecutiva de Negocios y en mi última experiencia laboral descubrí mi pasión al participar en un proyecto de desarrollo de un aplicativo web. Considero ser una persona con empatía, organizada, proactiva, muy positiva y con una gran capacidad de adaptacion.</p>
            <div class="team-member__contentSocial">
                <a href="https://twitter.com/MarianG85473731" class="social-media-link" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a><span>·</span>
                <a href="https://www.linkedin.com/in/marian-gonz%C3%A1lez-49558b168" class="social-media-link" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin-in"></i></a><span>·</span>
                <a href="https://github.com/gonzalez-marian" class="social-media-link" target="_blank" rel="noopener noreferrer"><i class="fab fa-github-alt"></i></a><span>·</span>
                <a href="mailto:Gonzalezmarian170@gmail.com" class="social-media-link"><i class="fas fa-envelope"></i></a>
            </div>
        </div>
    </div>
    <div class="team-member">
        <img class="team-member__photo team-member__photo--left" src="./assets/images/maria.jpg" alt="maria" title="María Dobos">
        <div class="team-member__content team-member__content--left">
            <h4 class="team-member__contentName">María Dobos</h4>
            <p class="team-member__contentText team-member__contentText--left">Soy licenciada en Farmacia, proveniente de Ucrania. Vengo del ámbito profesional donde la vida es un aprendizaje constante y me encanta seguir el ritmo de los cambios y reinventarme. Me caracterizo por ser una persona dedicada, entusiasta con habilidades para generar estrategias profesionales y afrontar retos.</p>
            <div class="team-member__contentSocial">
                <a href="https://twitter.com/mariaal_dobos" class="social-media-link" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a> <span>·</span>
                <a href="https://www.linkedin.com/in/maria-dobos-93a73583" class="social-media-link" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin-in"></i></a><span>·</span>
                <a href="https://github.com/MariaDobos" class="social-media-link" target="_blank" rel="noopener noreferrer"><i class="fab fa-github-alt"></i></a><span>·</span>
                <a href="mailto:mariyadob@gmail.com" class="social-media-link"><i class="fas fa-envelope"></i></a>
            </div>
        </div>
    </div>
    <div class="team-member">
        <img class="team-member__photo team-member__photo--right" src="./assets/images/natalia.jpg" alt="natalia" title="Natalia Jiménez">
        <div class="team-member__content team-member__content--right">
            <h4 class="team-member__contentName">Natalia Jiménez</h4>
            <p class="team-member__contentText team-member__contentText--right">Soy peruana y graduada en ADE con experiencia en finanzas corporativas. Me defino como curiosa y comprometida. Creo que todos nos podemos reinventar varias veces en la vida con el fin de evolucionar y alcanzar nuevas metas. Me gusta programar porque me permite aportar nuevas ideas y soluciones tecnologicas a los usuarios.</p>
            <div class="team-member__contentSocial">
                <a href="https://twitter.com/Natalia23139749" class="social-media-link" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a><span>·</span>
                <a href="https://www.linkedin.com/in/s-j-110314193" class="social-media-link" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin-in"></i></a><span>·</span>
                <a href="https://github.com/nataliajimenezq" class="social-media-link" target="_blank" rel="noopener noreferrer"><i class="fab fa-github-alt"></i></a><span>·</span>
                <a href="mailto:snjimenezq@gmail.com" class="social-media-link"><i class="fas fa-envelope"></i></a>
            </div>
        </div>
    </div>
    <div class="team-member">
        <img class="team-member__photo team-member__photo--left" src="./assets/images/olga.jpg" alt="olga" title="Olga Gatalskaya">
        <div class="team-member__content team-member__content--left">
            <h4 class="team-member__contentName">Olga Gatalskaya</h4>
            <p class="team-member__contentText team-member__contentText--left">Soy bielorrusa y estudié Economía, me caracterizo por ser una persona emprendedora, que adora los retos, que no se rinde fácilmente, muy detallista y nunca dejo de aprender. Mi objetivo principal es desarrollarme profesionalmente como programadora y por eso me ilusiona la oportunidad que me brindan en Adalab para conseguir este gran reto.</p>
            <div class="team-member__contentSocial">
                <a href="http://twitter.com/@Olga61834668" class="social-media-link" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a><span>·</span>
                <a href="https://www.linkedin.com/in/olga-hatalskaya-391133165" class="social-media-link" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin-in"></i></a><span>·</span>
                <a href="http://github.com/Olga0111" class="social-media-link" target="_blank" rel="noopener noreferrer"><i class="fab fa-github-alt"></i></a><span>·</span>
                <a href="mailto:gatalolia86@gmail.com" class="social-media-link"><i class="fas fa-envelope"></i></a>
            </div>
        </div>
    </div>

</section>