<section class="capacities">
    <div class="capacities__container">
        <h3 class="capacities__title">Fortalezas</h3>
        <p class="text">Aportamos nuestro background profesional al equipo dando ideas, gestionando recursos y apoyándonos las unas a las otras para resolver juntas los distintos hándicaps que nos hemos encontrado en el camino.  Decididas, habladoras y risueñas, dispuestas ha seguir creciendo. Sin duda, venimos con la mejor actitud para conseguir nuestro objetivo.</p>
    </div>
    <div class="capacities__container">
        <h3 class="capacities__title">Debilidades</h3>
        <p class="text">Somos nuevas en esto, tenemos que adaptarnos mejor a los tiempos de trabajo marcados pero con la constancia no habrá nada que no podamos superar trabajando en equipo.</p>
    </div>
</section>