<section class="capacities" id="team">
    <div class="capacities__container">
        <div>
            <h3 class="capacities__title">Fortalezas</h3>
            <p class="capacities__text">Aportamos al equipo nuestro background profesional, dando ideas, gestionando recursos y apoyándonos las unas a las otras para resolver los distintos hándicaps que nos hemos encontrado en el camino. Somos decididas, luchadoras y estamos dispuestas ha seguir creciendo. Sin duda, venimos con la mejor actitud para conseguir nuestro objetivo.</p>
        </div>
        <div>
            <h3 class="capacities__title">Debilidades</h3>
            <p class="capacities__text">Somos nuevas en esto, tenemos que adaptarnos mejor a los tiempos de trabajo marcados pero con la constancia y los nuevos conocimiento no habrá nada que no podamos superar trabajando en equipo.</p>
        </div>
    </div>
</section>