<footer class="footer"> 
    <div class="footer__title"><p>Digital Assembly © 2019</p></div>
        <ul class="footer__list">
            <li><a href="#team" class="footer__link">EQUIPO</a></li>
            <li><a href="#about-us" class="footer__link">QUIÉNES SOMOS</a></li>
            <li><a href="#contact" class="footer__link">CONTACTO</a></li>
        </ul>
    <div class="footer__logo"><img class="footer__logo__image" src="./assets/images/logo-adalab.png" alt="logo-adalab"></div> 
</footer>