<footer class="footer"> 
    <div>
        <div class="footer__logo"> <a href="https://adalab.es/" target="_blank" rel="noopener noreferrer"><img class="footer__logoImage" src="./assets/images/logo-adalab.png" alt="logo-adalab"></a> </div> 
        <div class="footer__title"><p>Digital Assembly © 2019</p></div>
    </div>
    <ul class="footer__list">
        <li><a href="index.html#team" class="footer__link">EQUIPO</a></li>
        <li><a href="index.html#about-us" class="footer__link">QUIÉNES SOMOS</a></li>
        <li><a href="contact.html#contact" class="footer__link">CONTACTO</a></li>
    </ul>
</footer>