<header class="header">
    <div class="header__button">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <nav class="header__nav">
        <ul class="header__list">
            <li>
                <a href="index.html#team" class="header__link">EQUIPO</a>
            </li>
            <li>
                <a href="index.html#about-us" class="header__link">QUIÉNES SOMOS</a>
            </li>
            <li>
                <a href="contact.html" class="header__link">CONTACTO</a>
            </li>
        </ul>
    </nav>
</header>
