<header class="header__wrapper">
    <div class="logo-container">
        <img src="./assets/images/logo_title.png" alt="our-logo">
    </div>
    <nav>
        <ul class="header__list">
            <li>
                <a href="#team" class="header__link">EQUIPO</a>
            </li>
            <li>
                <a href="#about-us" class="header__link">QUIÉNES SOMOS</a>
            </li>
            <li>
                <a href="./contact.html" class="header__link">CONTACTO</a>
            </li>
        </ul>
    </nav>
</header>
