<header class="header__wrapper">
    <div class="header__logo-container">
        <a href="#team"><img src="./assets/images/logo_title.png" alt="our-logo" height="60" width="270"></a>
    </div>
    <nav class="header__nav">
        <ul class="header__list">
            <li>
                <a href="./_team.html" class="header__link">EQUIPO</a>
            </li>
            <li>
                <a href="./about-us.html" class="header__link">QUIÉNES SOMOS</a>
            </li>
            <li>
                <a href="#contact" class="header__link">CONTACTO</a>
            </li>
        </ul>
    </nav>
</header>
