<section class="hero">
    <div class="hero__wrapper">
        <h2 class="hero__title">DIGITAL ASSEMBLY</h2>
        <section class="hero__team">
            <p class="hero__text">Somos un grupo internacional de cinco mujeres, con  formación y experiencia profesional muy diversa, nos hemos unido con el fin de dar un giro a nuestra vida para convertirnos en desarrolladoras web.</p>
            <p class="hero__text hero__text--large">Somos un grupo entregado, nos gusta trabajar en equipo y dar el cien por cien en cada proyecto. Nos une la ilusión de superar los retos y seguir creciendo cada día porque creemos que no existen los límites para elegir en quién te quieres convertir</p>
        </section>
        <button class="hero__button">CONTÁCTANOS</button>
    </div>
</section>