<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Rubik:400,500&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="./assets/css/normalize.css">
    <link rel="stylesheet" href="./assets/css/main.css" type="text/css">
    <script src="https://kit.fontawesome.com/bf82408d8a.js" crossorigin="anonymous"></script>
        <title>Digital Assembly</title>
</head>

<body>
    <partial src="_header.html"/>
    <main class="main">
        <partial src="_hero.html"/>
        <section class="contact" id="contact">
            <h2 class="contact__title">CONTACTO</h2>
            <div class="contact__text">
                <p>Somos <strong>Digital Assembly</strong> y este es nuestro primer proyecto web. Si quieres saber más sobre nuestro equipo, no dudes en escribirnos.</p>
                <p class="contact__caption">Todos los campos marcados con <span class="contact__caption--styled">*</span> son obligatorios.</p>
            </div>
            <form class="contact__form" action="//formspree.io/xrgzywjk" method="POST" target="_blank"> 
                <div class="field">
                    <label class="field__label" for="fullname">Nombre completo<span class="contact__caption--styled"> *</span></label>
                    <input class="field__input" placeholder="Nombre" id="fullname" type="text" name="fullname" required />
                </div>
                <div class="contact__formFieldset">
                    <div class="field">
                        <label class="field__label" for="email_address">Email<span class="contact__caption--styled"> *</span></label>
                        <input class="field__input" placeholder="nombre.apellidos@mail.com" id="email_address" type="email" name="_replyto"
                required />
                    </div>
                    <div class="field">
                        <label class="field__label" for="telephone">Teléfono</label>
                        <input class="field__input" placeholder="Ej: 123456789" id="telephone" type="tel" name="telephone" />
                    </div>
                </div>                    
                <label class="field__label" for="message">Mensaje<span class="contact__caption--styled"> *</span></label>
                <textarea class="field__textarea" id="message" name="message" rows="5" cols="34" placeholder="¿Que necesitas?"required></textarea>
                <div class="button">
                    <input class="button__visible" type="submit" value="ENVIAR" />
                    <input type="hidden" name="_next" value="http://formspree.io/xrgzywjk"/>
                </div>
                </div>
            </form>
        </section>
    </main>
    <partial src="_footer.html"/>
</body>

</html>