<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Rubik:400,500&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="./assets/css/normalize.css">
   <link rel="stylesheet" href="./assets/css/main.css" type="text/css">
   <script src="https://kit.fontawesome.com/bf82408d8a.js" crossorigin="anonymous"></script>
     <title>Digital Assembly</title>
</head>

<body class="wrapper">
    <partial src="_header.html"/>
    <partial src="_hero.html"/>
    <partial src="_capacities.html"/>
    <partial src="_about-us.html"/>
    <partial src="_footer.html"/>
</body>

</html>