.about-us {
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        font-family: $fontRubik;
        font-weight: 500;
        font-size: 1.5rem;
        color: $generalColor;
        text-align: center;
        padding-top: 15px;
    }
}

.team-member {
    width: 90%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 45px;

    &__photo {
        width: 180px;
        height: 180px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        border: solid 5px rgba(0, 0, 0, 0.08);
    }

    &__contentName {
        font-family: $fontOpen;
        font-size: 1.25rem;
        color: #000;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    &__contentText {
        font-family: $fontOpen;
        font-size: 1rem;
        color: #54585a;
        text-align: center;
    }

    &__contentSocial {
        color: $generalColor;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

.social-media-link{
    color: $generalColor;

    &:hover {
        background-color: #b8b8b9;
    }
}
.fab, .fas{
    margin: 0 5px;
}

@media all and (min-width:768px) {
    .about-us {
        &__title {
            font-size: 1.7rem;
            margin-bottom: 30px;
        }
    }

    .team-member {
        width: 80%;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        align-items: center;
        grid-template-rows: 1fr;
        grid-gap: 1rem;

        &__photo {
            width: 250px;
            height: 250px;

            &--left {
                grid-column: 1/4;
                grid-row: 1/2;
                margin-right: 25px;
            }

            &--right {
                grid-column: 5/8;
                grid-row: 1/2;
                margin-left: 25px;
            }
        }

        &__content {
            display: flex;
            flex-direction: column;
            justify-content: center;

            &--left {
                grid-column: 4/8;
                grid-row: 1/2;
                align-items: flex-start;
            }

            &--right {
                grid-column: 1/5;
                grid-row: 1/2;
                align-items: flex-end;
            }
        }

        &__contentName {
            font-size: 1.3rem;
        }

        &__contentText {
            font-size: 1.2rem;
            &--left {
                text-align: left;
                width: 90%;
            }

            &--right{
                text-align: right;
                width: 90%;
            }
        }
    }
    .fab, .fas{
        font-size: 1.2rem;
        margin: 0 10px;
    }
}
@media all and (min-width:1200px) {
    .about-us {
        &__title {
            font-size: 2rem;
            margin-bottom: 70px;
        }
    }
    .team-member {
        width: 70%;

        &__photo {
            width: 300px;
            height: 300px;
        }
    }
}