.capacities{
    background-color: #b8b8b9;
    padding-top: 30px;
    padding-bottom: 30px;
    
    

}
.capacities__title{
    font-family:$fontRubik;   
    font-size: 1.375rem;
    color:$generalColor;
    text-align: center;
}
@media all and (min-width:768px) {
    .capacities{
        display: flex;
        flex-direction: row;
    }
    .capacities__container{
        width: 50%;
    }
}
