.capacities{
    background-color: rgba(184,184,185,0.2);
    padding: 30px 25px;

}
.capacities__title{
    font-family:$fontRubik;   
    font-size: 1.375rem;
    font-weight: 500;
    color:$generalColor;
    text-align: center;
}
@media all and (min-width:768px) {
    .capacities{
        display: flex;
        flex-direction: row;
    }
    .capacities__container{
        width: 50%;
    }
}
@media all and (min-width:1200px){
    .capacities .capacities__container{
        width: 100%;
    }
}
