.hero {
    position: relative;
    background-image: url(../images/hero-image.jpg);
    background-position: 18%;
    background-size: cover;
    height: 100vh;
    width: 100%; 

    &__wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    &__title{
        font-family: $fontRubik;
        font-size: 2rem;
        color:$generalColor;
        font-weight: 500;
        text-align: center;
        margin-bottom: 0;
        text-shadow: 5px 10px 5px black;
    }

    &__team {
        background-color: rgba(184, 184, 185, 1);
        width: 90%;
    }

    &__text {
        font-family: $fontOpen;
        font-size: 1rem;
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
    }

    &__text--large {
        display: none;
    }

    &__button {
        width: 50%;
        height: 50px;
        border-radius: 20px;
        font-weight: 600;
        border: none;
        color: white;
        background-color: chocolate;
    }
}

@media all and (min-width:768px) {
    .hero {
        display: flex;
        justify-content: center;

        &__wrapper {
            width: 80%;
        }

        &__title {
            font-size: 3rem;
            margin-top: 0;
        }

        &__team {
            padding: 1rem;
        }

        &__text {
            font-size: 1.2rem;
        }

        &__text--large {
            display: block;
        }

        &__button {
            width: 33%;
            height: 60px;
            cursor: pointer;
            font-size: 1.2rem;
            &:hover {
                transform: scale(1.05);
            }
        }
    }
}
@media all and (min-width: 1200px){
    .hero {
        &__wrapper {
            width: 70%;
        }

        &__title {
            font-size: 4rem;
        }
    }

}