.team{
    padding: 70px 25px 30px 25px;
    background-color: bisque;
    opacity: 0.8;
    width: auto;
    @media all and (min-width: 1200px){
        width: 601px;
    }
}

.text{
    font-family: $fontOpen;
    font-size: 1rem;  
    line-height: 1.5rem;  
    color: #54585a;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}
@media all and (min-width: 1200px){
    
    .team-member{
        width: 60%;
    }
    .team-member.right{
        align-self: flex-end;
    }
    .team-member__photo{
        width: 280px;
        height: 280px;
    }
}