html{
    font-size: 16px;
}

body{
    font-family:$fontOpen;
    line-height: 1.5;
}

.wrapper {
    @media all and (min-width:768px){
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}