.footer {
    width: 100%;
    border-top: #b8b8b9 solid 1px;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    align-items: center;

    &__title {
        font-family:$fontOpen;
        font-size: 1rem;
        color: $textGrey;
        text-align: center;
    }

    &__list {
        margin: 0;

        > li {
            list-style: none;
            text-align: center;
        }
    }

    &__link {
        font-family: $fontOpen;
        font-weight: 600;
        font-size: 1rem;
        color: $textGrey;
        line-height: 1.8;
        text-decoration: none;
            &:hover{
                color: $generalColor;
            }
    }

    &__logoImage{
        width: 116px;
        height: 45px;
    }
}

@media all and (min-width:768px) {
    .footer {
        padding: 2.4rem 1rem;

        &__link {
            font-size: 1.2rem;
        }
    } 
}