.header {
    position: fixed;
    width: 100%;
    height: 55px;
    font-family: $fontRubik;
    font-weight: 500;
    z-index: 2;
    opacity:0.95;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: $generalColor;

    &__button {
        display: none;
    }

    &__list{
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        // height: 2.813rem;
        // margin: auto;
        opacity: 0.9;
        padding: 0px;
        font-weight: 500;   
        list-style: none;
    }

    &__link{
        color: $basicColor;
        font-size:0.9rem;
        padding: 8px;
        text-decoration: none;
    }
    &__link:hover{
        color: #54585a;
    }
}

@media all and (min-width:768px) {
    .header {
        justify-content: flex-start;
        background: none;

        &__button {
            display: flex;
            flex-direction: column;
            margin: 5px;

            > span{
                background-color: $generalColor;
                height: 5px;
                width: 35px;
                margin: 3px;
                border-radius: 25%;
            }
        }

        &:hover {
            background-color: $generalColor;
            .header__button > span {
                background-color: white;
            }
            .header__list {
                visibility: visible;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
            }
        }

        &__nav {
            width: 100%;
        }

        &__list {
            visibility: hidden;
        }

        &__link {
            font-size: 1rem;
        }
    }

    }