.header__wrapper{
    position: fixed;
    width: 100%;
    font-family: $fontRubik;
    font-weight: 500;
    z-index: 2;
    @media all and (min-width:768px){
        background-color: $generalColor;
    }
}
.header__logo-container{
    background-color: $generalColor;
    display:flex;
    justify-content: center;
}
.header__title{
    font-size: 1rem;
    color:$basicColor;
    line-height: 3.75rem;
    background-color: $generalColor;
    height: 3.75rem;
    margin: 0px;
    text-align: center;
    opacity: 0.9;    
}
.header__list{
    background-color: $titleColor;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 2.813rem;
    margin: 0px;
    opacity: 0.9;
    padding: 0px;
    font-weight: 500;    
}
.header__link{
    color: $basicColor;
    font-size:0.9375rem;
    padding: 8px;
    text-decoration: none;
}
.header__link:hover{
    color: #54585a;
}
@media all and (min-width:768px) {
   
    .header__wrapper{
        display: flex;
        flex-direction: row;
        padding-left: 45px;
        padding-right: 45px;
    
    }
    
    .header__list{
        background-color: $generalColor;
        height: 3.75rem;
        display:flex;
        justify-content: flex-end;
       }
       .header__link:hover{
           color:#54585a;
       }
       .header__nav{
           width: 100%;
       }
    }